RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]



#<IfModule mod_rewrite.c>
#	Options +FollowSymLinks
#	RewriteEngine on
#	#d se refiere a directorios y f a ficheros 
#	RewriteCond %{SCRIPT_FILENAME} !-d
#	RewriteCond %{SCRIPT_FILENAME} !-f
#	RewriteRule ^.*$ ./index.php
#</IfModule>